@import url('https://fonts.googleapis.com/css?family=Caladea&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


  .app-container {
    width: 100vw;
    max-width: 500px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Caladea', Georgia, serif, sans-serif;
    background-color: rgb(18, 10, 51);

    @media (min-width: 450px) {
      width: 80vw;
    }
  }

  @import url("./components/pomodoro/pomodoro.scss");
  @import url("./components/time-session/timer.scss");
}